<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejected Users</title>

</head>
<body>

    <h1>Rejected Users</h1>
    
    <!-- Message for no rejected users -->
    {% if rejected_users %}
        <table>
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Date of Birth</th>
                    <th>District</th>
                    <th>Province</th>
                    <th>City Name</th>
                    <th>Parent Name</th>
                    <th>Phone No</th>
                </tr>
            </thead>
            <tbody>
                {% for user in rejected_users %}
                    <tr>
                        <td>{{ user.full_name }}</td>
                        <td>{{ user.date_of_birth }}</td>
                        <td>{{ user.district }}</td>
                        <td>{{ user.province }}</td>
                        <td>{{ user.city_name }}</td>
                        <td>{{ user.parent_name }}</td>
                        <td>{{ user.phone_no }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No rejected users.</p>
    {% endif %}

    <a href="{% url 'admin_dashboard' %}">Back to Admin Dashboard</a>

</body>
</html>
